.red{
    background-color: #FF3333;
}
.orange{
    background-color: #CC9966;
}
.blue{
    background-color: #33CCFF;
}
.green{
    background-color: #33FF66;
}
.yellow{
    background-color: #FFFF33;
}
.purple{
    background-color: #CC00CC;
}
.gray{
    background-color: #666666;
}
.RosyBrown{
    background-color: #663300;
}
